#!/system/bin/sh

# true = ON
# false = OFF

# re-calibrate proximity sensor
prox_recal=true

# CPU governor and misc tweaks
# disabled because I use a different tool to set them up,
# and some of them produce errors due to sysfs files not found
w03tweaks=false

# if you set sd_readahead to true, also set 
# sd_readahead to a nice power of 2.
# I recommend 2048 or 4096.
sd_readahead=true
readahead_value=2048

# zipalign APKs on boot
# not needed on every boot
zipalign_apks=false

# network buffer size optimizations
# already seem to be present in build.prop on my phone
net_buffer=false

# remount ext4 partitions with faster options
# disabled by default because most ROMS already have them
ext4_remount=false

# clean up and optimize SQLite databases
# takes a lot of time, not needed every boot
sqlite_hack=false
